<main class="catalogo">

  <h2>Inventario</h2>

  <section class="grid-motos">

    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto deportiva">

      <mat-card-content>
        <h3>Yamaha R3</h3>
        <p class="precio">S/ 25,900</p>
        <p>Moto deportiva ligera, ideal para ciudad y carretera.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto urbana">

      <mat-card-content>
        <h3>Honda CB190R</h3>
        <p class="precio">S/ 18,500</p>
        <p>Diseño moderno y eficiente.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto touring">

      <mat-card-content>
        <h3>Dominar 400</h3>
        <p class="precio">S/ 22,300</p>
        <p>Potencia y confort para viajes largos.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto touring">

      <mat-card-content>
        <h3>Dominar 400</h3>
        <p class="precio">S/ 22,300</p>
        <p>Potencia y confort para viajes largos.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto touring">

      <mat-card-content>
        <h3>Dominar 400</h3>
        <p class="precio">S/ 22,300</p>
        <p>Potencia y confort para viajes largos.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card-moto">
      <img mat-card-image src="mtoo.jpg" alt="Moto touring">

      <mat-card-content>
        <h3>Dominar 400</h3>
        <p class="precio">S/ 22,300</p>
        <p>Potencia y confort para viajes largos.</p>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary">
          Ver detalle
        </button>
      </mat-card-actions>
    </mat-card>

  </section>

</main>
